.backgroundProfileNotification {
    position: absolute;
    width: 439px;
    min-height: 229px;
    left: 48px;
    top: 119px;
    background: #ECF2F8;
    border-radius: 5px;
    box-sizing: border-box;
    transition: height 0.3s ease;
    overflow: hidden;
    overflow-y: auto;
    height: 70vh;
    max-height: 650px;
    padding: 20px;
}
.backgroundTitleNotification {
    position: absolute;
    width: 410px;
    height: 95px;
    left: 48px;
    top: 119px;
    background: #ECF2F8;
    border-radius: 5px;

}
.noNotification
{
    position: absolute;
    width: 209px;
    height: 22px;
    left: 163px;
    top: 390px;
    color: #D9C8FD;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 209;
    font-size: 24px;
    line-height: 22px;
}
.titleTextNotification {
    position: absolute;
    left: 47px;
    top: 107px;
    bottom: 90.67%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #878CCD;
}

.dateNotification {
    position: absolute;
    left: 46px;
    right: 80.95%;
    top: 169px;
    bottom: 88.3%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #D2BAFF;
}

.notifications-list {
    position: relative;
    top: 107px;
    width: 100%;
    padding-bottom: 20px;
}
.notification-item:last-child {
    margin-bottom: 10px;
}
.notification-item {
    height: 166px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 37px;
}

.notification-content {
    display: flex;
    width: 100%;
    align-items: flex-end;
}

.notification-text-container {
    margin-left: 20px;
    flex-grow: 1;
}

.notification-title {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #878CCD;
    margin-bottom: 5px;
}

.notification-date {
    font-size: 14px;
    color: #D2BAFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}



.custom-checkbox {
    position: absolute;
    left: 362px;

    cursor: pointer;
    display: flex;
    align-items: center;

}
.checkmark {
    position: absolute;

    width: 20px;
    height: 20px;
    background: #CEDDE6;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}

.custom-checkbox:hover input ~ .checkmark {
    background-color: #c0d2df;
}
.custom-checkbox input:checked ~ .checkmark {
    background-color: #878CCD;
}
.checkmark:after {
    display: none !important;
}

.toggle-container {
    left: 378px;
    top: 161px;
    position: relative;
    display: inline-block;
    width: 62px;
    height: 30px;
    cursor: pointer;
}

.toggle-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #CEDDE6;
  border-radius: 30px;
  transition: background 0.3s ease;
}

.toggle-switch {

  position: absolute;
  width: 20px;
  height: 20px;
  left: 4px;
  top: 5px;
  background: #FFFFFF;
  border-radius: 100%;
  transition: transform 0.3s ease;
  pointer-events: none;
}

.toggle-input {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}


.toggle-input:checked ~ .toggle-background {
  background: #878CCD;
}

.toggle-input:checked ~ .toggle-switch {
  transform: translateX(34px);
}
.titleNotification
{
    position: absolute;
    width: 217px;
    height: 31px;
    left: 94px;
    top: 160px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    color: #878CCD;
}
