body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.header {
    color: #333;
    padding: 20px;
}
@media (max-width: 768px) {
    body { font-size: 14px; }
}
body {
    background-color: #ECF2F8;

}

/* Или для конкретного блока */
.header {
    background-color: #ffffff;  /* Бежевый фон */
}