<!DOCTYPE html>
<html>
<head>
    <title>Achievements</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'achievements_app/css/editPassword.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
</head>
<body>
    {% include 'achievements_app/panel.html' %}
    <div class="backgroundLeft"></div>
    <div class="backgroundRight"></div>

    <div class="containerPassword container-toggle">
    <input type="password" class="input-field" maxlength="30" placeholder="Пароль">
    </div>
    <div class="containerNewPassword container-toggle">
    <input type="password" class="input-field" maxlength="30" placeholder="Пароль">
    </div>
    <div class="containerLastPassword container-toggle">
    <input type="password" class="input-field" placeholder="Пароль"></div>
    <div class="title">Смена пароля</div>
    <div class="miniTitle">Введите старый пароль</div>
    <div class="miniTitle2">Введите новый пароль</div>
    <div class="miniTitle3">Повторите новый пароль</div>
    <div class="eror" style="display: none;">*ошибка</div>
    <div class="eror2" style="display: none;">*ошибка</div>
    <div class="eror3" style="display: none;">*ошибка</div>
    <div class="button"></div>
    <div class="buttonText">Сохранить</div>

    <div class="photo">
        <div class="login">Fsdafasdfdsf</div>
    </div>

    <a href="{% url 'registration' %}" class="backText">отмена</a>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const button = document.querySelector('.button');
            const newPasswordInput = document.querySelector('.containerNewPassword input');
            const passwordInput = document.querySelector('.containerPassword input');
            const lastPassword = document.querySelector('.containerLastPassword input');
            const error1 = document.querySelector('.eror');
            const error2 = document.querySelector('.eror2');
            const error3 = document.querySelector('.eror3');
            const userData = {
                        phone: localStorage.getItem('numberPhone')
                    };
            button.addEventListener('click', function () {
                let hasEror = true;
                if (!lastPassword.value.trim()) {
                    error2.textContent = '*обязательно';
                    error2.style.display = 'block';
                    error2.style.opacity = '1';
                    hasEror = true;
                     fetch('{% url "check_password" %}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                    body: JSON.stringify(userData)
                })
                .then(response => response.json())
                .then(data => {
                if (data.password !== undefined) {
                    error1.textContent = '*неверный пароль';
                    hasEror = true;
                }
                })
                .catch(error => {
                console.error('Error:', error);
                })

                } else {
                    error2.style.display = 'none';
                    error2.style.opacity = '0';
                   hasEror = false;
                }
                if (!newPasswordInput.value.trim()) {
                    error1.textContent = '*обязательно';
                    error1.style.display = 'block';
                    error1.style.opacity = '1';
                   hasEror = true;
                } else {
                    error1.style.display = 'none';
                    error1.style.opacity = '0';
                   hasEror = false;
                }
                if (!passwordInput.value.trim()) {
                    error3.textContent = '*обязательно';
                    error3.style.display = 'block';
                    error3.style.opacity = '1';
                    hasEror = true;
                } else {
                    error3.style.display = 'none';
                    error3.style.opacity = '0';
                    hasEror = false;
                }
                if (!hasEror)
                {


                    fetch('{% url "passwordReset" %}', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        body: JSON.stringify(userData)
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                window.location.href = "{% url 'recovery' %}";
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        })
                }
            });
        });


    </script>
</body>
</html>