<!DOCTYPE html>
<html>
<head>
    <title>Achievements</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'achievements_app/css/editPassword.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
</head>
<body>
    {% include 'achievements_app/panel.html' %}
    <div class="backgroundLeft"></div>
    <div class="backgroundRight"></div>

    <div class="containerPassword container-toggle">
    <input type="password" class="input-field" maxlength="30" placeholder="Пароль">
    </div>
    <div class="containerNewPassword container-toggle">
    <input type="password" class="input-field" maxlength="30" placeholder="Пароль">
    </div>
    <div class="containerLastPassword container-toggle">
    <input type="password" class="input-field" placeholder="Пароль"></div>
    <div class="title">Смена пароля</div>
    <div class="miniTitle">Введите старый пароль</div>
    <div class="miniTitle2">Введите новый пароль</div>
    <div class="miniTitle3">Повторите новый пароль</div>
    <div class="eror" style="display: none;">*ошибка</div>
    <div class="eror2" style="display: none;">*ошибка</div>
    <div class="eror3" style="display: none;">*ошибка</div>
    <div class="button"></div>
    <div class="buttonText">Сохранить</div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const button = document.querySelector('.button');
            const phoneInput = document.querySelector('.containerNumberPhone input');
            const passwordInput = document.querySelector('.containerPassword input');
            const emailInput = document.querySelector('.containerEmail input');
            const error1 = document.querySelector('.eror');
            const error2 = document.querySelector('.eror2');
            const error3 = document.querySelector('.eror3');
            button.addEventListener('click', function () {
                let hasEror = true;
                let phoneEmpty;
                let emailEmpty;
                if (!emailInput.value.trim()) {
                    error2.textContent = '*обязательно';
                    error2.style.display = 'block';
                    error2.style.opacity = '1';
                    emailEmpty = true;

                } else {
                    error2.style.display = 'none';
                    error2.style.opacity = '0';
                    emailEmpty = false;
                }
                if (!phoneInput.value.trim()) {
                    error1.textContent = '*обязательно';
                    error1.style.display = 'block';
                    error1.style.opacity = '1';
                    phoneEmpty = true;
                } else {
                    error1.style.display = 'none';
                    error1.style.opacity = '0';
                    phoneEmpty = false;
                }
                if (!passwordInput.value.trim()) {
                    error3.textContent = '*обязательно';
                    error3.style.display = 'block';
                    error3.style.opacity = '1';
                    hasEror = true;
                } else {
                    error3.style.display = 'none';
                    error3.style.opacity = '0';
                    hasEror = false;
                }
            });
        });


    </script>
</body>
</html>