<!DOCTYPE html>
<html>
<head>
    <title>Achievements</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'achievements_app/css/registration.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
</head>
<body>
    <div class="backgroundLeft"></div>
    <div class="backgroundRight"></div>

    <div class="containerPassword container-toggle">
    <input type="password" class="input-field" maxlength="30" placeholder="Пароль">
    </div>
    <div class="containerNewPassword container-toggle">
    <input type="password" class="input-field" maxlength="30" placeholder="Пароль">
    </div>
    <div class="containerLastPassword container-toggle">
    <input type="password" class="input-field" placeholder="Пароль"></div>
    <div class="title">Смена пароля</div>
    <div class="miniTitle">Введите старый пароль</div>
    <div class="miniTitle2">Введите новый пароль</div>
    <div class="miniTitle3">Повторите новый пароль</div>
    <div class="eror" style="display: none;">*ошибка</div>
    <div class="eror2" style="display: none;">*ошибка</div>
    <div class="eror3" style="display: none;">*ошибка</div>
    <div class="button"></div>
    <div class="buttonText">Далее</div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const button = document.querySelector('.button');
            const phoneInput = document.querySelector('.containerNumberPhone input');
            const passwordInput = document.querySelector('.containerPassword input');
            const emailInput = document.querySelector('.containerEmail input');
            const error1 = document.querySelector('.eror');
            const error2 = document.querySelector('.eror2');
            const error3 = document.querySelector('.eror3');
            function isValidEmail(email) {
                const re = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                return re.test(email);
            }
            function isValidNumberPhone(phone) {
                const re = /^\+7\s\(\d{3}\)\s\d{3}-\d{2}-\d{2}$/;
                return re.test(phone);
            }
            button.addEventListener('click', function () {
                 let hasEror = true;
                 let phoneEmpty;
                 let emailEmpty;
                   if (!emailInput.value.trim()) {
                    error2.textContent = '*обязательно';
                    error2.style.display = 'block';
                    error2.style.opacity = '1';
                    emailEmpty = true;

                }
                else {
                    error2.style.display = 'none';
                    error2.style.opacity = '0';
                     emailEmpty = false;
                }
                if (!phoneInput.value.trim()) {
                    error1.textContent = '*обязательно';
                    error1.style.display = 'block';
                    error1.style.opacity = '1';
                    phoneEmpty = true;
                }
               else {
                    error1.style.display = 'none';
                    error1.style.opacity = '0';
                    phoneEmpty = false;
                }
                if (!passwordInput.value.trim()) {
                    error3.textContent = '*обязательно';
                    error3.style.display = 'block';
                    error3.style.opacity = '1';
                    hasEror = true;
                } else {
                    error3.style.display = 'none';
                    error3.style.opacity = '0';
                    hasEror = false;
                }





            });

           phoneInput.addEventListener('input', function(event) {
               let value = this.value.replace(/\D/g, '');
               if (value.length > 0 && (value[0] === '7' || value[0] === '8')) {
                   value = '7' + value.substring(1);
               }
               let formattedValue = '';
               if (value.length > 0) {
                   formattedValue = '+7';
                   if (value.length > 1) {formattedValue += ' (' + value.substring(1, 4);}
                   if (value.length > 4) {formattedValue += ') ' + value.substring(4, 7);}
                   if (value.length > 7) {formattedValue += '-' + value.substring(7, 9); }
                   if (value.length > 9) {formattedValue += '-' + value.substring(9, 11);}
               }
               this.value = formattedValue;
           });

        });
    </script>
</body>
</html>