<!DOCTYPE html>
<html>
<head>
    <title>Achievements</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'achievements_app/css/information.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
</head>
<body>
    <div class="backgroundLeft"></div>
    <div class="backgroundRight"></div>
    <div class="title">Информация</div>
    <div class="miniTitleLeftHigh">Логин</div>
    <div class="miniTitleRightHigh">Имя</div>
    <div class="miniTitleRightLow">Отчество</div>
    <div class="miniTitleLeftLow">Фамилия</div>


    <div class="containerLogin container-toggle">
        <input type="text" class="input-field" maxlength="30" placeholder="Логин">
    </div>
    <div class="containerName container-toggle">
        <input type="text" class="input-field" maxlength="30" placeholder="Имя">
    </div>
    <div class="containerLName container-toggle">
        <input type="text" class="input-field" maxlength="30" placeholder="Фамилия">
    </div>
    <div class="containerPatronymic container-toggle">
        <input type="text" class="input-field" maxlength="30" placeholder="Отчество">
    </div>

    <div class="button"></div>
<div class="buttonText">Сохранить</div>
    <a href="{% url 'registration' %}" class="backText" >назад</a>
    <script>

    </script>
</body>
</html>