<!DOCTYPE html>
<html>
<head>
    <title>Achievements</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'achievements_app/css/information.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
</head>
<body>
    <div class="backgroundLeft"></div>
    <div class="backgroundRight"></div>
    <div class="title">Информация</div>
    <div class="miniTitleLeftHigh">Логин</div>
    <div class="miniTitleRightHigh">Имя</div>
    <div class="miniTitleRightLow">Отчество</div>
    <div class="miniTitleLeftLow">Фамилия</div>
    <div class="eror1" style="display: none;">*ошибка</div>
    <div class="eror2" style="display: none;">*ошибка</div>
    <div class="eror3" style="display: none;">*ошибка</div>
    <div class="eror4" style="display: none;">*ошибка</div>
    <div class="eror5" style="display: none;">*ошибка</div>
    <div class="containerLogin container-toggle">
        <input type="text" class="input-field" maxlength="30" placeholder="Логин">
    </div>
    <div class="containerName container-toggle">
        <input type="text" class="input-field" maxlength="30" placeholder="Имя">
    </div>
    <div class="containerLName container-toggle">
        <input type="text" class="input-field" maxlength="30" placeholder="Фамилия">
    </div>
    <div class="containerPatronymic container-toggle">
        <input type="text" class="input-field" maxlength="30" placeholder="Отчество">
    </div>
    <div class="containerURL container-toggle">
        <input type="text" class="input-field" maxlength="200" placeholder="URL">
    </div>
    <div class="button"></div>
    <div class="buttonText">Сохранить</div>
    <a href="{% url 'registration' %}" class="backText" >назад</a>
    <div class="photo"></div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const loginInput = document.querySelector('.containerLogin input');
            const nameInput = document.querySelector('.containerName input');
            const lNameInput = document.querySelector('.containerLName input');
            const patronymiсInput = document.querySelector('.containerPatronymic input');
            const button = document.querySelector('.button');
            const error1 = document.querySelector('.eror1');
            const error2 = document.querySelector('.eror2');
            const error3 = document.querySelector('.eror3');
            const error4 = document.querySelector('.eror4');
            const error5 = document.querySelector('.eror5');
            const link = document.querySelector('.containerURL input');
            const email = localStorage.getItem('email');
            const password = localStorage.getItem('password');
            const numberPhone = localStorage.getItem('numberPhone');
            let hasError = false;
            let loginStringEmpty = false;
            button.addEventListener('click', function () {
                hasError = false;
                if (!loginInput.value.trim()) {
                    error1.textContent = '*обязательно';
                    error1.style.display = 'block';
                    error1.style.opacity = '1';
                    hasError = true;
                    loginStringEmpty = true;
                }
                else if (loginInput.value.length < 5) {
                    error1.textContent = '*минимум 5 символов';
                    error1.style.display = 'block';
                    error1.style.opacity = '1';
                    hasError = true;
                    loginStringEmpty = false;
                }
                else {
                    error1.style.display = 'none';
                    error1.style.opacity = '0';
                    loginStringEmpty = false;
                }
                if (!nameInput.value.trim()) {
                    error2.textContent = '*обязательно';
                    error2.style.display = 'block';
                    error2.style.opacity = '1';
                    hasError = true;
                }
                else if (nameInput.value.length < 2) {
                    error2.textContent = '*минимум 2 символов';
                    error2.style.display = 'block';
                    error2.style.opacity = '1';
                    hasError = true;

                }
                else {
                    error2.style.display = 'none';
                    error2.style.opacity = '0';
                }
                if (!lNameInput.value.trim()) {
                    error3.textContent = '*обязательно';
                    error3.style.display = 'block';
                    error3.style.opacity = '1';
                    hasError = true;
                }
                else if (lNameInput.value.length < 5) {
                    error3.textContent = '*минимум 5 символов';
                    error3.style.display = 'block';
                    error3.style.opacity = '1';
                    hasError = true;

                }
                else {
                    error3.style.display = 'none';
                    error3.style.opacity = '0';
                    hasError = false;
                }
                if (!patronymiсInput.value.trim()) {
                    error4.textContent = '*обязательно';
                    error4.style.display = 'block';
                    error4.style.opacity = '1';
                    hasError = true;
                }
                else if (patronymiсInput.value.length < 5) {
                    error4.textContent = '*минимум 5 символов';
                    error4.style.display = 'block';
                    error4.style.opacity = '1';
                    hasError = true;
                }
                else {
                    error4.style.display = 'none';
                    error4.style.opacity = '0';
                }
                if (!link.value.trim())
                {
                    error5.textContent = '*обязательно';
                    error5.style.display = 'block';
                    error5.style.opacity = '1';
                    hasError = true;
                }
                else
                {
                    error5.style.display = 'none';
                    error5.style.opacity = '0';
                }
                if (!loginStringEmpty && !hasError) {
                    fetch('{% url "check_login" %}', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        body: JSON.stringify({
                            login: loginInput.value.trim(),
                        })
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.exists) {

                            error1.textContent = '*логин существует';
                            error1.style.display = 'block';
                            error1.style.opacity = '1';
                        } else {
                            error1.style.display = 'none';
                            error1.style.opacity = '0';
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });



                    if (!hasError)
                    {
                        if (email !== null && email.trim() !== '' &&
                        password !== null && password.trim() !== '' &&
                        numberPhone !== null && numberPhone.trim() !== '') {
                            const userData = {
                            login: loginInput.value.trim(),
                            firstName: nameInput.value.trim(),
                            lastName: lNameInput.value.trim(),
                            patronymic: patronymiсInput.value.trim(),
                            email: email,
                            password: password,
                            phone: numberPhone,
                            photoLink: link.value.trim()
                            };
                            fetch('{% url "registerUser" %}', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json',
                                    'X-CSRFToken': '{{ csrf_token }}'
                                },
                                    body: JSON.stringify(userData)
                                })
                            .then(response => response.json())
                            .then(data => {
                                if (data.success) {
                                    localStorage.setItem('login', loginInput.value.trim());
                                    window.location.href = "{% url 'mainPage' %}";
                                } else {
                                   console.log('Ошибка регистрации');
                                }
                            })
                            .catch(error => {
                            console.error('Error:', error);
                            });
                        }
                        else
                        {
                            window.location.href = "{% url 'registration' %}";
                        }
                    }
                }
            });

        });
    </script>
</body>
</html>