<!DOCTYPE html>
<html>
<head>
    <title>Achievements</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'achievements_app/css/mainPageProfile.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
</head>
<body>
    <div class="background"></div>
<div>
    <login class="loginUser">userame</login>
    <photo class="photo"></photo>
</div>
<icon class="icon">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M11 4H4C3.46957 4 2.96086 4.21071 2.58579 4.58579C2.21071 4.96086 2 5.46957 2 6V20C2 20.5304
2.21071 21.0391 2.58579 21.4142C2.96086 21.7893 3.46957 22 4 22H18C18.5304 22 19.0391 21.7893 19.4142
21.4142C19.7893 21.0391 20 20.5304 20 20V13" stroke="#878CCD" stroke-width="2" stroke-linecap="round"
      stroke-linejoin="round"/>
<path d="M18.5 2.50023C18.8978 2.1024 19.4374
1.87891 20 1.87891C20.5626 1.87891 21.1022 2.1024 21.5 2.50023C21.8978 2.89805 22.1213 3.43762 22.1213
4.00023C22.1213 4.56284 21.8978 5.1024 21.5 5.50023L12 15.0002L8 16.0002L9 12.0002L18.5 2.50023Z"
      stroke="#878CCD" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

</icon>


    <div class="securityText">Безопасность</div>
<div class="notificationText">Уведомления</div>
<div class="achievementsText">Мои достижения</div>
<div class="exitText">Выход из профиля</div>
    <div class="deleteProfile">Удаление профиля</div>
    <script>
        const loginUser = document.querySelector('.loginUser');
        document.addEventListener('DOMContentLoaded', function() {
                const userData = {
                    phone: localStorage.getItem('numberPhone')
                };
                fetch('{% url "loginUser" %}', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify(userData)
                })
                .then(response => response.json())
                .then(data => {
                if (data.login !== undefined) {
                    loginUser.textContent = data.login;
                } else {
                    showGlobalError(data.error || 'Неизвестная ошибка сервера');
                }
                })
                .catch(error => {
                    console.error('Error:', error);
                })

        });
    </script>
</body>
</html>