<!DOCTYPE html>
<html>
<head>
    <title>Achievements</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'achievements_app/css/mainPage.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
</head>
<body>
    {% include 'achievements_app/panel.html' %}
    <div class="background"></div>
    <div class="titleAchievement">Все достижения</div>
    <div class="achievements-container" id="achievementsContainer"></div>
    <div class="comment-container" id="commentsContainer"></div>
    <div class="filterForAchievements">
        <div class="filterAchievement">по алфавиту от а до я</div>
        <iconFilterAchievement class="iconAchievement">
            <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M31.8104 17.8447L22.5 27.1551L13.1897 17.8447" stroke="#878CCD" stroke-width="2"
                stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </iconFilterAchievement>
    </div>
    <script>
        async function sendComment(button) {
        const wrapper = button.closest('.input-wrapper');
        const field = wrapper.querySelector('.input-fieldComment');
        const text = field.innerText.trim();

        if (!text) {

            return;
        }
            const newComment = await response.json();
            addCommentToDOM(newComment);
            field.innerText = '';
            button.disabled = true;


        }

        function addCommentToDOM(comment) {
        const commentsList = document.querySelector('.comments-list');

        const commentHTML = `
            <div class="comment">
                <div class="user-info">
                        <div class="avatar"></div>
                        <span class="username">${comment.user}</span>
                        <div class="comment-meta">
                            <span class="comment-date">${new Date(comment.date).toLocaleDateString()}</span>
                        </div>
                </div>
                <div class="comment-text">${comment.text}</div>
                <div class="interaction-containerComment"></div>
            </div>
        `;

        commentsList.insertAdjacentHTML('beforeend', commentHTML);
        }

        document.addEventListener('DOMContentLoaded', () => {
        document.body.addEventListener('click', function(e) {
                if (e.target.closest('.send-button')) {
                    sendComment(e.target.closest('.send-button'));
                }
            });
        });
        function toggleComments(icon) {
            const card = icon.closest('.achievement-item');
            const wasExpanded = card.classList.contains('comment-expanded');
            document.querySelectorAll('.achievement-item').forEach(item => {
            item.classList.remove('comment-expanded');
            const commentsSection = item.querySelector('.comments-section');
            if(commentsSection) {

                 document.querySelectorAll('.achievement-item').forEach(item => {
                    item.classList.remove('comment-expanded');
                    item.style.marginBottom = "";
                    const commentsSection = item.querySelector('.comments-section');
                    if(commentsSection) commentsSection.remove();
                });
            }
            });

            const achievementId = parseInt(card.dataset.achievementId);
            if(!wasExpanded) {

                const commentsSection = renderCommentsSection(achievementId);
                card.appendChild(commentsSection);
                card.classList.add('comment-expanded');
                requestAnimationFrame(() => {
                    const commentsHeight = commentsSection.offsetHeight;
                    card.style.marginBottom = `${commentsHeight}px`;
                });
            }
        }

        function renderCommentsSection(achievementId) {
            const commentsSection = document.createElement('div');
            commentsSection.className = 'comments-section';

            commentsSection.innerHTML = `
                <div class="comment-header">
                    <span class="filter">по дате добавления</span>
                    <iconFilter class="iconFilter">
                        <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M31.8104 17.8447L22.5 27.1551L13.1897 17.8447" stroke="#878CCD" stroke-width="2"
                            stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </iconFilter>
                </div>


            `;
            const filteredComments = comments.filter(comments => comments.id_achievement === achievementId);
            const commentsList = document.createElement('div');
            commentsList.className = 'comments-list';
            commentsList.addEventListener('click', function(e) {
                if(e.target.closest('.iconEditComment')) {
                    const commentBlock = e.target.closest('.comment, .comment-reply');
                    toggleEditMode(commentBlock);
                }
            });
            const hasReplies = filteredComments.some(comment => comment.replay);

            commentsList.className = `comments-list${hasReplies ? ' comments-listReplay' : ''}`;
            filteredComments.forEach(comment => {
                const commentHTML = `
                    <div class="${comment.replay ? 'comment-reply' : 'comment'}">
                        <div class="user-info">
                            <div class="avatar"></div>
                            <span class="username">${comment.user}</span>
                            <div class="comment-meta">
                                <span class="edit-label">изм.</span>
                                <span class="comment-date">${new Date(comment.date).toLocaleDateString()}</span>
                            </div>
                        </div>
                        <div class="comment-text" contenteditable="false">${comment.text}</div>
                        <div class="interaction-containerComment">
                            <div class="like-groupComment">
                            <iconLike class="iconLikeComment">
                                <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M21.4677 6.30353C21.1264 5.46138 20.6342 4.69823 20.0187 4.05681C19.4028
                                    3.41347 18.6766 2.90221 17.8796 2.55085C17.0532 2.18506 16.1668 1.99782 15.2719
                                    2.00002C14.0164 2.00002 12.7915 2.36633 11.727 3.05826C11.4724 3.22378 11.2305
                                    3.40558 11.0013 3.60366C10.7721 3.40558 10.5301 3.22378 10.2755 3.05826C9.21101
                                    2.36633 7.9861 2.00002 6.73063 2.00002C5.82659 2.00002 4.95057 2.18453 4.12293
                                    2.55085C3.3233 2.90359 2.60261 3.41101 1.98379 4.05681C1.36751 4.69751
                                    0.875206 5.46084 0.534783 6.30353C0.180808 7.17997 0 8.11068 0 9.06853C0
                                    9.9721 0.173168 10.9137 0.516957 11.8715C0.804722 12.672 1.21727 13.5023 1.74441
                                    14.3407C2.57969 15.6676 3.7282 17.0515 5.15429 18.4543C7.51753 20.7797 9.85784
                                    22.3861 9.95716 22.4512L10.5607 22.8637C10.8281 23.0455 11.1719 23.0455 11.4393
                                    22.8637L12.0428 22.4512C12.1421 22.3834 14.4799 20.7797 16.8457 18.4543C18.2718
                                    17.0515 19.4203 15.6676 20.2556 14.3407C20.7827 13.5023 21.1978 12.672 21.483
                                     11.8715C21.8268 10.9137 22 9.9721 22 9.06853C22.0025 8.11068 21.8217 7.17997 21.4677
                                     6.30353ZM11.0013 20.7173C11.0013 20.7173 1.93541 14.528 1.93541 9.06853C1.93541
                                     6.30353 4.08218 4.06223 6.73063 4.06223C8.59219 4.06223 10.2067 5.16932 11.0013
                                     6.78652C11.7958 5.16932 13.4103 4.06223 15.2719 4.06223C17.9203 4.06223 20.0671
                                     6.30353 20.0671 9.06853C20.0671 14.528 11.0013 20.7173 11.0013 20.7173Z" fill="#9483B5"/>
                                </svg>
                            </iconLike>
                            <div class="countLikeComment">${comment.countLike}</div>
                            <div class="comment-group">
                            <iconComment class="iconCommentAnswer" >
                                <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_666_1413)">
                                        <path d="M10.2678 11.5C10.2678 11.8268 10.3976 12.1402 10.6286 12.3713C10.8597 12.6023
                                        11.1731 12.7321 11.4999 12.7321C11.8267 12.7321 12.1401 12.6023 12.3712 12.3713C12.6022
                                        12.1402 12.732 11.8268 12.732 11.5C12.732 11.1732 12.6022 10.8598 12.3712
                                        10.6287C12.1401 10.3977 11.8267 10.2679 11.4999 10.2679C11.1731 10.2679 10.8597
                                        10.3977 10.6286 10.6287C10.3976 10.8598 10.2678 11.1732 10.2678 11.5ZM15.4017
                                        11.5C15.4017 11.8268 15.5315 12.1402 15.7626 12.3713C15.9936 12.6023 16.307
                                        12.7321 16.6338 12.7321C16.9606 12.7321 17.274 12.6023 17.5051 12.3713C17.7362
                                        12.1402 17.866 11.8268 17.866 11.5C17.866 11.1732 17.7362 10.8598 17.5051
                                        10.6287C17.274 10.3977 16.9606 10.2679 16.6338 10.2679C16.307 10.2679 15.9936
                                        10.3977 15.7626 10.6287C15.5315 10.8598 15.4017 11.1732 15.4017 11.5ZM5.13383
                                        11.5C5.13383 11.8268 5.26365 12.1402 5.49472 12.3713C5.72579 12.6023 6.03919 12.7321
                                        6.36597 12.7321C6.69276 12.7321 7.00616 12.6023 7.23723 12.3713C7.4683 12.1402
                                        7.59812 11.8268 7.59812 11.5C7.59812 11.1732 7.4683 10.8598 7.23723 10.6287C7.00616
                                        10.3977 6.69276 10.2679 6.36597 10.2679C6.03919 10.2679 5.72579 10.3977 5.49472
                                        10.6287C5.26365 10.8598 5.13383 11.1732 5.13383 11.5ZM22.1066 7.04375C21.5265
                                        5.66529 20.6948 4.42801 19.6346 3.36529C18.5819 2.30872 17.3321 1.46887 15.9562
                                        0.893304C14.5443 0.300335 13.0452 0 11.4999 0H11.4486C9.89298 0.00770089 8.38618
                                        0.315737 6.96921 0.92154C5.60502 1.50301 4.36698 2.34435 3.32412 3.39866C2.27423
                                        4.45882 1.45024 5.69096 0.88037 7.06429C0.289969 8.48638 -0.0077994 9.99833
                                        -9.85098e-05 11.5539C0.00861184 13.3366 0.43036 15.093 1.23204 16.6853V20.5871C1.23204
                                        20.9002 1.35645 21.2006 1.57789 21.422C1.79934 21.6435 2.09968 21.7679 2.41285
                                        21.7679H6.3172C7.90947 22.5695 9.66588 22.9913 11.4486 23H11.5025C13.0401 23
                                        14.5315 22.7022 15.9356 22.1195C17.3046 21.5508 18.5497 20.7208 19.6012
                                        19.6758C20.6614 18.6259 21.4957 17.3989 22.0784 16.0307C22.6842 14.6137
                                        22.9922 13.1069 22.9999 11.5513C23.0076 9.98806 22.7047 8.47098 22.1066
                                        7.04375ZM18.2279 18.2871C16.4285 20.0685 14.0412 21.0491 11.4999
                                        21.0491H11.4563C9.90838 21.0414 8.37077 20.6564 7.01285 19.9325L6.79722
                                        19.817H3.18294V16.2027L3.06742 15.9871C2.34354 14.6291 1.9585 13.0915
                                        1.95079 11.5436C1.94053 8.98438 2.91854 6.5817 4.71285 4.77199C6.50459
                                        2.96228 8.89957 1.96116 11.4588 1.95089H11.5025C12.786 1.95089 14.0309 2.19989
                                        15.204 2.69275C16.3489 3.17277 17.3757 3.86328 18.2587 4.74632C19.1392 5.62679
                                        19.8323 6.65614 20.3123 7.801C20.8103 8.98694 21.0593 10.2448 21.0541 11.5436C21.0387
                                        14.1003 20.0351 16.4953 18.2279 18.2871Z" fill="#9483B5"/>
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_666_1413">
                                            <rect width="23" height="23" fill="white"/>
                                        </clipPath>
                                    </defs>
                                </svg>
                            </iconComment>
                        <div class="countCommentAnswer">${comment.countComment}</div>
                        </div>
                    </div>
                    <div class="answerComment-label">ответить</div>
                    ${comment.user === localStorage.getItem('login') ?`
                            <iconEdit class="iconEditComment">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11 4H4C3.46957 4 2.96086 4.21071 2.58579 4.58579C2.21071 4.96086 2 5.46957 2 6V20C2
                                    20.5304 2.21071 21.0391 2.58579 21.4142C2.96086 21.7893 3.46957 22 4 22H18C18.5304 22 19.0391
                                    21.7893 19.4142 21.4142C19.7893 21.0391 20 20.5304 20 20V13" stroke="#878CCD" stroke-width="2"
                                     stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M18.5 2.50023C18.8978 2.1024 19.4374 1.87891 20 1.87891C20.5626 1.87891 21.1022
                                     2.1024 21.5 2.50023C21.8978 2.89805 22.1213 3.43762 22.1213 4.00023C22.1213 4.56284
                                     21.8978 5.1024 21.5 5.50023L12 15.0002L8 16.0002L9 12.0002L18.5 2.50023Z"
                                      stroke="#878CCD" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </iconEdit>
                            <iconTrash class="iconDeleteComment">
                                <svg width="35" height="37" viewBox="0 0 35 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M7.20234 10.516H9.37373L10.3845 29.3408C10.3947 29.5294 10.4728
                                        29.7068 10.6026 29.8365C10.7325 29.9662 10.9044 30.0386 11.0831 30.0386H24.3362C24.515
                                        30.0386 24.6871 29.9661 24.817 29.8362C24.9469 29.7063 25.0248 29.5288 25.0348
                                        29.3401L26.0295 10.516H28.2023C28.388 10.516 28.566 10.438 28.6973 10.2992C28.8286
                                        10.1604 28.9023 9.97222 28.9023 9.77596C28.9023 9.5797 28.8286 9.39147 28.6973
                                        9.2527C28.566 9.11392 28.388 9.03596 28.2023 9.03596H25.5836C25.5451 9.03596 25.5115 9.05298 25.4744
                                        9.0589C25.438 9.05298 25.4044 9.03596 25.3673 9.03596H21.6951V7.09938C21.6951 6.90311 21.6214
                                        6.71489 21.4901 6.57612C21.3588 6.43734 21.1808 6.35938 20.9951 6.35938H14.4088C14.2232
                                        6.35938 14.0451 6.43734 13.9139 6.57612C13.7826 6.71489 13.7088 6.90311 13.7088
                                        7.09938V9.03596H10.0352C10.003 9.03596 9.97434 9.0515 9.94284 9.05594C9.91064
                                        9.05076 9.88194 9.03596 9.84834 9.03596H7.20304C7.11111 9.03591 7.02008 9.055 6.93513
                                        9.09214C6.85018 9.12929 6.77299 9.18375 6.70796 9.25243C6.64292 9.32112 6.59132 9.40267
                                        6.5561 9.49243C6.52088 9.58219 6.50273 9.67841 6.50269 9.77559C6.50264 9.87276
                                        6.5207 9.969 6.55584 10.0588C6.59097 10.1486 6.64249 10.2302 6.70746
                                        10.299C6.77243 10.3677 6.84957 10.4223 6.93448 10.4595C7.01939 10.4967
                                        7.11041 10.5159 7.20234 10.516ZM15.1088 7.83938H20.2951V9.03596H15.1088V7.83938ZM24.6274
                                        10.516L23.674 28.5594H11.7446L10.7758 10.516H24.6274Z" fill="#878CCD"/>
                                        <path d="M14.236 27.1717L14.2766 27.171C14.3684 27.1655 14.4582 27.141
                                        14.541 27.0988C14.6238 27.0565 14.6979 26.9975 14.759 26.925C14.8202 26.8525
                                        14.8673 26.7679 14.8975 26.6762C14.9278 26.5844 14.9406 26.4873 14.9353 26.3903L14.1989
                                        12.6744C14.1863 12.4793 14.102 12.2971 13.964 12.1668C13.826 12.0366 13.6452 11.9686 13.4604
                                        11.9773C13.3686 11.9828 13.2788 12.0073 13.196 12.0496C13.1132 12.0918 13.0391 12.1508 12.978
                                        12.2233C12.9168 12.2958 12.8697 12.3804 12.8395 12.4721C12.8092 12.5639 12.7964 12.661 12.8017
                                        12.758L13.5381 26.4739C13.5483 26.6624 13.6262 26.8396 13.756 26.9694C13.8857 27.0991 14.0574
                                        27.1715 14.236 27.1717Z" fill="#878CCD"/>
                                        <path d="M21.1029 27.171L21.1435 27.1718C21.3221 27.1715 21.4939 27.0991 21.6236 26.9694C21.7533
                                        26.8397 21.8313 26.6624 21.8414 26.4739L22.5778 12.758C22.5884 12.5622 22.5249 12.3699 22.4014
                                        12.2236C22.2778 12.0772 22.1044 11.9886 21.9191 11.9773C21.7343 11.9684 21.5534 12.0363 21.4154
                                        12.1666C21.2773 12.2969 21.1931 12.4792 21.1806 12.6744L20.4442 26.3903C20.4337 26.5862 20.4972
                                        26.7784 20.6207 26.9248C20.7442 27.0712 20.9177 27.1598 21.1029 27.171Z" fill="#878CCD"/>
                                        <path d="M17.7022 27.1725C17.8878 27.1725 18.0659 27.0945 18.1972 26.9557C18.3284 26.8169
                                        18.4022 26.6287 18.4022 26.4325V12.7166C18.4022 12.5203 18.3284 12.3321 18.1972
                                        12.1933C18.0659 12.0545 17.8878 11.9766 17.7022 11.9766C17.5165 11.9766 17.3385
                                        12.0545 17.2072 12.1933C17.0759 12.3321 17.0022 12.5203 17.0022 12.7166V26.4325C17.0022
                                        26.6287 17.0759 26.8169 17.2072 26.9557C17.3385 27.0945 17.5165 27.1725 17.7022
                                        27.1725Z" fill="#878CCD"/>
                                </svg>
                            </iconTrash>` : ''}
                `;
                commentsList.innerHTML += commentHTML;
            });
            const inputContainer = document.createElement('div');
            inputContainer.className = 'comment-input-container';
            inputContainer.innerHTML = `
               <div class="comment-input-container">
                    <div class="comment-input">
                        <div class="input-wrapper">
                            <div class="input-fieldComment"
                                 contenteditable="true"
                                 placeholder="Напишите комментарий...">
                            </div>
                            <div class="send-container">
                                <div class="send-background"></div>
                                <button class="send-button" onclick="sendComment(this)">
                                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M20 6L9 17L4 12" stroke="#878CCD" stroke-width="2"
                                              stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            `;

            commentsSection.appendChild(inputContainer);
            commentsSection.appendChild(commentsList);
            const iconFilter = commentsSection.querySelector('.iconFilter');
            iconFilter.addEventListener('click', function() {
                this.classList.toggle('rotated');


            });
            return commentsSection;
        }
        function toggleEditMode(commentBlock) {
            const textElement = commentBlock.querySelector('.comment-text');
            const editIcon = commentBlock.querySelector('.iconEditComment');
            const newText = textElement.textContent.trim();
            if (textElement.isContentEditable && newText) {
                textElement.contentEditable = false;

                editIcon.innerHTML = `<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11 4H4C3.46957 4 2.96086 4.21071 2.58579 4.58579C2.21071 4.96086 2 5.46957 2 6V20C2
                                    20.5304 2.21071 21.0391 2.58579 21.4142C2.96086 21.7893 3.46957 22 4 22H18C18.5304 22 19.0391
                                    21.7893 19.4142 21.4142C19.7893 21.0391 20 20.5304 20 20V13" stroke="#878CCD" stroke-width="2"
                                     stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M18.5 2.50023C18.8978 2.1024 19.4374 1.87891 20 1.87891C20.5626 1.87891 21.1022
                                     2.1024 21.5 2.50023C21.8978 2.89805 22.1213 3.43762 22.1213 4.00023C22.1213 4.56284
                                     21.8978 5.1024 21.5 5.50023L12 15.0002L8 16.0002L9 12.0002L18.5 2.50023Z"
                                      stroke="#878CCD" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>`;
            } else {
                textElement.contentEditable = true;
                textElement.focus();
                editIcon.innerHTML = `<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20 6L9 17L4 12" stroke="#878CCD" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round"/>
                </svg>`;
            }
        }
        const comments = [];


    document.addEventListener('DOMContentLoaded', function() {

    const filterText = document.querySelector('.filterAchievement');
    let isAscending = false;
    const iconFilter = document.querySelector('.iconAchievement');
    loadAndRenderAchievements();
    iconFilter.addEventListener('click', function() {
        this.classList.toggle('rotated');
        if (isAscending === false)
        {
            isAscending = true;
            loadAndRenderAchievements();
        }
        else
        {
            isAscending = true;
            loadAndRenderAchievements();
        }

    });


        async function fetchAchievement() {
            try {
                const response = await fetch('{% url "returnAchievement" %}', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({
                        isFiltered: isAscending ? 'true' : 'false'
                    })
                });

                const data = await response.json();
                    achievements = (data.achievements || []).map(achievements => ({
                        login: achievements.login,
                        id_achievement: achievements.id_achievement,
                        title: achievements.title,
                        date: achievements.date,
                        photoLink: achievements.photoLink,
                        countComment: achievements.countComment,
                        countLike: achievements.countLike
                    }));
                    return achievements;



            }
            catch (error) {
                console.error('Error', error)
                return [];
            }
        }

        async function newLike(achievement_id) {
            try {
                const response = await fetch('{% url "newLike" %}', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({
                        phone: localStorage.getItem('numberPhone'),
                        achievement_id: achievement_id
                    })
                });
                if (response.success) {
                    const countElement = document.querySelector(`[data-id-achievement="${achievement_id}"] .countLike`);
                    countElement.textContent = parseInt(countElement.textContent) + 1;
                }

            }
            catch (error) {
                console.error('Error', error)
            }
        }
        async function deleteLike(achievement_id) {
            try {
                const response = await fetch('{% url "deleteLike" %}', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({
                        phone: localStorage.getItem('numberPhone'),
                        achievement_id: achievement_id
                    })
                });
                if (response.success) {
                    const countElement = document.querySelector(`[data-id-achievement="${achievement_id}"] .countLike`);
                    countElement.textContent = parseInt(countElement.textContent) - 1;
                }

            }
            catch (error) {
                console.error('Error', error)
            }
        }
        async function checkLike(achievement_id) {
            const response = await fetch('{% url "check_Like" %}',{
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({
                    phone: localStorage.getItem('numberPhone'),
                    achievement_id: achievement_id
                })
            })
            const data = await response.json();
            console.log("fff", data.exists)
            return data.exists;

        }
        async function loadAndRenderAchievements() {
            const achievements = await fetchAchievement();
            renderAchievements(achievements);
            return achievements
        }
        function createAchievementCard(data) {
            const item = document.createElement('div');

            item.className = 'achievement-item';
            item.dataset.achievementId = data.id_achievement;
            item.className = 'achievement-item';
            item.innerHTML = `

                <div class="photo-achievement">
                    <img src=${data.photoLink}"
                     alt="Достижение"
                     class="achievement-photo">
                </div>
                <div class="text-container">
                    <div class="login-achievement">${data.login}</div>
                    <div class="name-achievement">${data.title}</div>
                </div>

                <div class="interaction-container">
                <date class="date-achievement">${new Date(data.date).toLocaleDateString()}</date>
                    <div class="like-group">
                         <iconLike class="iconLike">
                                        <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M21.4677 6.30353C21.1264 5.46138 20.6342 4.69823 20.0187 4.05681C19.4028
                                            3.41347 18.6766 2.90221 17.8796 2.55085C17.0532 2.18506 16.1668 1.99782 15.2719
                                            2.00002C14.0164 2.00002 12.7915 2.36633 11.727 3.05826C11.4724 3.22378 11.2305
                                            3.40558 11.0013 3.60366C10.7721 3.40558 10.5301 3.22378 10.2755 3.05826C9.21101
                                            2.36633 7.9861 2.00002 6.73063 2.00002C5.82659 2.00002 4.95057 2.18453 4.12293
                                            2.55085C3.3233 2.90359 2.60261 3.41101 1.98379 4.05681C1.36751 4.69751
                                            0.875206 5.46084 0.534783 6.30353C0.180808 7.17997 0 8.11068 0 9.06853C0
                                            9.9721 0.173168 10.9137 0.516957 11.8715C0.804722 12.672 1.21727 13.5023 1.74441
                                            14.3407C2.57969 15.6676 3.7282 17.0515 5.15429 18.4543C7.51753 20.7797 9.85784
                                            22.3861 9.95716 22.4512L10.5607 22.8637C10.8281 23.0455 11.1719 23.0455 11.4393
                                            22.8637L12.0428 22.4512C12.1421 22.3834 14.4799 20.7797 16.8457 18.4543C18.2718
                                            17.0515 19.4203 15.6676 20.2556 14.3407C20.7827 13.5023 21.1978 12.672 21.483
                                             11.8715C21.8268 10.9137 22 9.9721 22 9.06853C22.0025 8.11068 21.8217 7.17997 21.4677
                                             6.30353ZM11.0013 20.7173C11.0013 20.7173 1.93541 14.528 1.93541 9.06853C1.93541
                                             6.30353 4.08218 4.06223 6.73063 4.06223C8.59219 4.06223 10.2067 5.16932 11.0013
                                             6.78652C11.7958 5.16932 13.4103 4.06223 15.2719 4.06223C17.9203 4.06223 20.0671
                                             6.30353 20.0671 9.06853C20.0671 14.528 11.0013 20.7173 11.0013 20.7173Z" fill="#9483B5"/>
                                        </svg>
                                    </iconLike>
                        <div class="countLike">${data.countLike}</div>
                    </div>
                    <div class="comment-group">
                        <iconComment class="iconComment" onclick="toggleComments(this)">
                                <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_666_1413)">
                                    <path d="M10.2678 11.5C10.2678 11.8268 10.3976 12.1402 10.6286 12.3713C10.8597 12.6023
                                        11.1731 12.7321 11.4999 12.7321C11.8267 12.7321 12.1401 12.6023 12.3712 12.3713C12.6022
                                        12.1402 12.732 11.8268 12.732 11.5C12.732 11.1732 12.6022 10.8598 12.3712
                                        10.6287C12.1401 10.3977 11.8267 10.2679 11.4999 10.2679C11.1731 10.2679 10.8597
                                        10.3977 10.6286 10.6287C10.3976 10.8598 10.2678 11.1732 10.2678 11.5ZM15.4017
                                        11.5C15.4017 11.8268 15.5315 12.1402 15.7626 12.3713C15.9936 12.6023 16.307
                                        12.7321 16.6338 12.7321C16.9606 12.7321 17.274 12.6023 17.5051 12.3713C17.7362
                                        12.1402 17.866 11.8268 17.866 11.5C17.866 11.1732 17.7362 10.8598 17.5051
                                        10.6287C17.274 10.3977 16.9606 10.2679 16.6338 10.2679C16.307 10.2679 15.9936
                                        10.3977 15.7626 10.6287C15.5315 10.8598 15.4017 11.1732 15.4017 11.5ZM5.13383
                                        11.5C5.13383 11.8268 5.26365 12.1402 5.49472 12.3713C5.72579 12.6023 6.03919 12.7321
                                        6.36597 12.7321C6.69276 12.7321 7.00616 12.6023 7.23723 12.3713C7.4683 12.1402
                                        7.59812 11.8268 7.59812 11.5C7.59812 11.1732 7.4683 10.8598 7.23723 10.6287C7.00616
                                        10.3977 6.69276 10.2679 6.36597 10.2679C6.03919 10.2679 5.72579 10.3977 5.49472
                                        10.6287C5.26365 10.8598 5.13383 11.1732 5.13383 11.5ZM22.1066 7.04375C21.5265
                                        5.66529 20.6948 4.42801 19.6346 3.36529C18.5819 2.30872 17.3321 1.46887 15.9562
                                        0.893304C14.5443 0.300335 13.0452 0 11.4999 0H11.4486C9.89298 0.00770089 8.38618
                                        0.315737 6.96921 0.92154C5.60502 1.50301 4.36698 2.34435 3.32412 3.39866C2.27423
                                        4.45882 1.45024 5.69096 0.88037 7.06429C0.289969 8.48638 -0.0077994 9.99833
                                        -9.85098e-05 11.5539C0.00861184 13.3366 0.43036 15.093 1.23204 16.6853V20.5871C1.23204
                                        20.9002 1.35645 21.2006 1.57789 21.422C1.79934 21.6435 2.09968 21.7679 2.41285
                                        21.7679H6.3172C7.90947 22.5695 9.66588 22.9913 11.4486 23H11.5025C13.0401 23
                                        14.5315 22.7022 15.9356 22.1195C17.3046 21.5508 18.5497 20.7208 19.6012
                                        19.6758C20.6614 18.6259 21.4957 17.3989 22.0784 16.0307C22.6842 14.6137
                                        22.9922 13.1069 22.9999 11.5513C23.0076 9.98806 22.7047 8.47098 22.1066
                                        7.04375ZM18.2279 18.2871C16.4285 20.0685 14.0412 21.0491 11.4999
                                        21.0491H11.4563C9.90838 21.0414 8.37077 20.6564 7.01285 19.9325L6.79722
                                        19.817H3.18294V16.2027L3.06742 15.9871C2.34354 14.6291 1.9585 13.0915
                                        1.95079 11.5436C1.94053 8.98438 2.91854 6.5817 4.71285 4.77199C6.50459
                                        2.96228 8.89957 1.96116 11.4588 1.95089H11.5025C12.786 1.95089 14.0309 2.19989
                                        15.204 2.69275C16.3489 3.17277 17.3757 3.86328 18.2587 4.74632C19.1392 5.62679
                                        19.8323 6.65614 20.3123 7.801C20.8103 8.98694 21.0593 10.2448 21.0541 11.5436C21.0387
                                        14.1003 20.0351 16.4953 18.2279 18.2871Z" fill="#9483B5"/>
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_666_1413">
                                            <rect width="23" height="23" fill="white"/>
                                        </clipPath>
                                    </defs>
                                </svg>
                        </iconComment>
                        <div class="countComment">${data.countComment}</div>

                </div>
            `;





            return item;
        }
        function renderAchievements(achievements) {
            const container = document.getElementById('achievementsContainer');
            achievements.forEach(achievement => {
                container.appendChild(createAchievementCard(achievement));
            });
             document.querySelectorAll('.iconLike').forEach(iconLike => {
                iconLike.addEventListener('click', async function() {
                    const card = this.closest('.achievement-item');
                    const achievementId = card.dataset.achievementId;
                    let isLiked = await checkLike(achievementId).value;
                    console.log("dddd", isLiked)
                    if (isLiked)
                    {
                        await deleteLike(achievementId);
                    } else if (!isLiked)
                    {
                        await newLike(achievementId);
                    }


                });
            });
        }
    });
</script>
</body>
</html>