<!DOCTYPE html>
<html>
<head>
    <title>Achievements</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'achievements_app/css/notification.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
</head>
<body>
<div class="backgroundProfile"></div>
<div class="backgroundProfile">
    <!-- Уведомления будут динамически добавляться здесь -->
    <div class="notification">Уведомление 1</div>
    <div class="notification">Уведомление 2</div>
</div>


    <script>


    </script>
</body>
</html>