<!DOCTYPE html>
<html>
<head>
    <title>Achievements</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'achievements_app/css/notification.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
</head>
<body>
<div class="backgroundProfile"></div>
<div class="backgroundProfile"></div>
<label class="toggle-container">
  <input type="checkbox" class="toggle-input">
  <div class="toggle-background"></div>
  <div class="toggle-switch"></div>
</label>

<script>

    document.addEventListener('DOMContentLoaded', function() {
        let checkSwitch = 'inactive';
        const backgroundSwitch = document.querySelector('.toggle-background');
        const switchPart = document.querySelector('.toggle-switch');
         function switching()
        {
           if (checkSwitch == 'active')
           {
               checkSwitch = 'inactive'
           }
           else if (checkSwitch == 'inactive')
           {
               checkSwitch = 'active'
           }
           console.log(checkSwitch)
        }
        backgroundSwitch.addEventListener('click', switching);
        switchPart.addEventListener('click', switching);
    });


</script>
</body>
</html>