<!DOCTYPE html>
<html>
<head>
    <title>Achievements</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'achievements_app/css/notification.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
</head>
<body>

<div class="backgroundProfileNotification" id="notificationContainer">

  <div class="notifications-list" id="notificationsList">
  </div>

</div>
<div class="backgroundTitleNotification"></div>
<label class="toggle-container">
  <input type="checkbox" class="toggle-input">
  <div class="toggle-background"></div>
  <div class="toggle-switch"></div>
</label>

<div class="titleNotification">Уведомления</div>
<div class="noNotification" style="display: none;">Уведомлений нет</div>
<script>

    document.addEventListener('DOMContentLoaded', function() {
        async function updateNotificationStatus(notificationId) {
            try {
                const response = await fetch('{% url "editStatusNotification" %}', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({
                        id: notificationId
                    })
                });

                const data = await response.json();
                if (!data.success) {
                    console.error('Ошибка обновления статуса:', data.error);
                }
            } catch (error) {
                console.error('Ошибка:', error);
            }
        }
        const noNotification = document.querySelector('.noNotification');
        let notifications = [];
        fetchNotifications();
        async function fetchNotifications() {
            try {
                const response = await fetch('{% url "returnNotification" %}', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({
                        phone: localStorage.getItem('numberPhone')
                    })
                });

                const data = await response.json();
                    notifications = (data.notifications || []).map(notif => ({
                        id: notif.id,
                        title: notif.title,
                        created_at: notif.created_at,
                    }));
                if (data.notifications.length === 0) {
                    noNotification.style.display = 'block';
                }
                else
                {
                    renderNotifications();
                }


            }
            catch (error) {
                console.error('Error', error)
            }
        }


    renderNotifications();
    function renderNotifications() {
        const container = document.getElementById('notificationsList');
        const notificationContainer = document.getElementById('notificationContainer');
        container.innerHTML = '';

        notifications.forEach((notification, index) => {
            if (index > 0 && notifications[index].date !== notifications[index - 1].date) {
                container.appendChild(document.createElement('div')).className = 'notification-spacer';
            }

            const item = document.createElement('div');
            item.className = 'notification-item';
            item.innerHTML = `
                <div class="notification-content">
                    <div class="notification-text-container">
                        <div class="notification-title">${notification.title}</div>
                        <div class="notification-date">${notification.created_at}</div>
                    </div>
                    <label class="custom-checkbox">
                        <input type="checkbox" class="notification-checkbox" data-id="${notification.id}">
                        <span class="checkmark"></span>
                    </label>
                </div>
            `;

            container.appendChild(item);
        });
        document.querySelectorAll('.notification-checkbox').forEach(checkbox => {
        checkbox.addEventListener('change', function() {
            const notificationId = this.dataset.id;
            updateNotificationStatus(notificationId);
        });
    });



        if (notifications.length > 0) {
            const itemHeight = 85;
            const marginBetween = 37;
            const baseHeight = 187;
            const bottomPadding = 40;

            const totalHeight = baseHeight +
                (notifications.length * itemHeight) +
                ((notifications.length - 1) * marginBetween) +
                bottomPadding;

            notificationContainer.style.height = `${totalHeight}px`;
        }


    }

    function countDateGroups(notifications) {
        return notifications.reduce((groups, notification, i) => {
            if (i === 0 || notification.date !== notifications[i - 1].date) groups++;
            return groups;
        }, 0);
    }
        let checkSwitch = false;
        const backgroundSwitch = document.querySelector('.toggle-background');
        const switchPart = document.querySelector('.toggle-switch');

        async function switching() {
            if (checkSwitch == true) {
                try
                {
                    const response = await fetch('{% url "editActiveNotification" %}', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        body: JSON.stringify({
                            phone: localStorage.getItem('numberPhone'),
                            isActiveNotification: !checkSwitch
                        })
                    });

                    const data = await response.json();
                    if (!data.success) {
                        updateSwitchUI(checkSwitch);
                        console.error('Ошибка обновления:', data.error);
                    }
                    else
                    {
                        updateSwitchUI(checkSwitch);
                        checkSwitch = false;
                    }
                }
                catch (error)
                {
                    checkSwitch = true;
                    updateSwitchUI(checkSwitch);
                }
            }
           else if (checkSwitch == false)
           {

                try
                {
                    const response = await fetch('{% url "editActiveNotification" %}', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        body: JSON.stringify({
                            phone: localStorage.getItem('numberPhone'),
                            isActiveNotification: !checkSwitch
                        })
                    });

                    const data = await response.json();
                    if (!data.success) {
                        console.error('Ошибка обновления:', data.error);
                    }
                    else
                    {
                        updateSwitchUI(checkSwitch);
                        checkSwitch = true;
                    }
                }
                catch (error)
                {
                    checkSwitch = false;
                    updateSwitchUI(checkSwitch);
                }
           }
           console.log(checkSwitch);
        }
        backgroundSwitch.addEventListener('click', switching);
        switchPart.addEventListener('click', switching);
        fetch('{% url "check_isActiveNotification" %}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({
                phone: localStorage.getItem('numberPhone')
            })
        })
        .then(response => response.json())
        .then(data => {
            if (data.notification == true)
            {
                updateSwitchUI(checkSwitch);
                checkSwitch = true;
            }
            if (data.notification == false)
            {
                 checkSwitch = false;
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
        function updateSwitchUI(isActive) {

            if (!isActive) {
                switchPart.style.transform = 'translateX(30px)';
                backgroundSwitch.style.background = '#878CCD';

            } else {
                switchPart.style.transform = 'translateX(0)';
                backgroundSwitch.style.background = '#CEDDE6';
            }
        }
    });
</script>
</body>
</html>