<!DOCTYPE html>
<html>
<head>
    <title>Achievements</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'achievements_app/css/panel.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
</head>
<body>
    <div class="backgroundPanel"></div>
    <div class="backgroundScores"></div>
    <div class="containerSearch container-toggle">
        <input type="text" class="input-field" maxlength="30" placeholder="Поиск">
    </div>
    <photo class="photoProfileHigh"></photo>
    <buttonSearch class="buttonSearch"></buttonSearch>
    <scoresIcon class="scoresIcon"></scoresIcon>
    <scores class="scores">1</scores>
    <div id="noProfileModal" class="modal" style="display: none;">
        {% include 'achievements_app/noProfile.html' %}
    </div>
    <div id="profileModal" class="modal" style="display: none;">
        {% include 'achievements_app/mainPageProfile.html' %}
    </div>
    <div id="securityModal" class="modal" style="display: none;">
        {% include 'achievements_app/securityProfile.html' %}
    </div>
    <div id="notificationModal" class="modal" style="display: none;">
        {% include 'achievements_app/notification.html' %}
    </div>
    <script>
        const backgroundScores = document.querySelector('.backgroundScores');
        const scoresIcon = document.querySelector('.scoresIcon');
        const buttons = document.querySelector('.buttonSearch');
        const scores = document.querySelector('.scores');
        const photoProfile = document.querySelector('.photoProfileHigh');
        const modal = document.createElement('div');
        modal.className = 'custom-modal';
        const phone = localStorage.getItem('numberPhone');
        document.addEventListener('DOMContentLoaded', function()
        {
            if (phone !== null) {
                fetch('{% url "check_status" %}', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({
                        phone: phone
                    })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.status == 'active')
                    {
                       deleteText.textContent = 'Удаление профиля';
                       localStorage.setItem('status', 'active');
                    }
                    else
                    {
                        deleteText.textContent = 'Отменить удаление';
                        localStorage.setItem('status', 'delete');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            }
            let pageName = 'initial';
            function openModal() {
                closeAllModals();
                if(pageName == 'initial')
                {
                    if (phone !== null) {
                    document.getElementById('profileModal').style.display = 'block';
                    }
                    else {
                        document.getElementById('noProfileModal').style.display = 'block';
                    }
                }
                else if (pageName == 'security')
                {
                    document.getElementById('securityModal').style.display = 'block';
                }
                else if (pageName == 'notification')
                {
                    document.getElementById('notificationModal').style.display = 'block';
                }
            }
            function closeAllModals() {
                const modals = ['profileModal', 'noProfileModal', 'securityModal', 'notificationModal'];
                modals.forEach(modalId => {
                    const modal = document.getElementById(modalId);
                    if (modal) modal.style.display = 'none';
                });
            }
            function closeModal() {
                if (pageName == 'initial')
                {
                    if (phone !== null) {
                        document.getElementById('profileModal').style.display = 'none';
                    }
                    else
                    {
                        document.getElementById('noProfileModal').style.display = 'none';
                    }
                }
                else if (pageName == 'security')
                {
                    document.getElementById('securityModal').style.display = 'none';
                }
                else if (pageName == 'notification')
                {
                    document.getElementById('notificationModal').style.display = 'none';
                }

            }
            window.onclick = function(event)
            {
                if (pageName == 'initial') {
                    if (phone !== null) {
                        document.getElementById('profileModal').style.display = 'none';
                    } else {
                        document.getElementById('noProfileModal').style.display = 'none';
                    }
                }
                else if (pageName == 'security')
                {
                    document.getElementById('securityModal').style.display = 'none';
                }
                else if (pageName == 'notification')
                {
                    document.getElementById('notificationModal').style.display = 'none';
                }
            }
            window.onclick = function(event) {
                let modal = null;
                if (pageName === 'initial') {
                    modal = localStorage.getItem('numberPhone') !== null
                        ? document.getElementById('profileModal')
                        : document.getElementById('noProfileModal');
                }
                else if (pageName === 'security') {
                    modal = document.getElementById('securityModal');
                }
                else if (pageName == 'notification')
                {
                    modal = document.getElementById('notificationModal');
                }
                if (modal && event.target === modal) {
                    closeModal();
                }
            }
            const userData = {
                phone: phone
            };
            fetch('{% url "scoreUser" %}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify(userData)
            })
            .then(response => response.json())
            .then(data => {
                if (data.score !== undefined) {
                    scores.textContent = data.score;
                } else {
                    showGlobalError(data.error || 'Неизвестная ошибка сервера');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            })
            photoProfile.addEventListener('click', function ()
            {
                pageName = 'initial';
                openModal();
            });

            function redirectToAuth() {
                pageName = 'security';
                openModal();
            }
            iconSecurity.addEventListener('click', redirectToAuth);
            securityText.addEventListener('click', redirectToAuth);
            function notification()
            {
                pageName = 'notification';
                openModal();
            }
            notificationText.addEventListener('click', notification);
            iconNext2.addEventListener('click', notification);
             function mainPage()
            {
                 window.location.href = "{% url 'mainPage' %}";
            }
            scores.addEventListener('click', mainPage);
            backgroundScores.addEventListener('click', mainPage);
            scoresIcon.addEventListener('click', mainPage);
        });
    </script>
</body>
</html>