<!DOCTYPE html>
<html>
<head>
    <title>Achievements</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'achievements_app/css/panel.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
</head>
<body>
    <div class="background"></div>
<div class="backgroundScores"></div>
    <div class="containerSearch container-toggle">
    <input type="text" class="input-field" maxlength="30" placeholder="Поиск">
    </div>
    <photo class="photoProfile"></photo>
    <buttonSearch class="buttonSearch"></buttonSearch>
    <scoresIcon class="scoresIcon"></scoresIcon>
    <scores class="scores">1</scores>
    <script>
        const button = document.querySelector('.buttonSearch');
        const scores = document.querySelector('.scores');
        document.addEventListener('DOMContentLoaded', function() {
                const userData = {
                    phone: localStorage.getItem('numberPhone')
                };
                fetch('{% url "scoreUser" %}', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify(userData)
                })
                .then(response => response.json())
                .then(data => {
                if (data.score !== undefined) {
                    scores.textContent = data.score;
                } else {
                    showGlobalError(data.error || 'Неизвестная ошибка сервера');
                }
                })
                .catch(error => {
                    console.error('Error:', error);
                })

        });
    </script>
</body>
</html>