<!DOCTYPE html>
<html>
<head>
    <title>Achievements</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'achievements_app/css/recovery.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
</head>
<body>
    <div class="background"></div>
    <div class="containerPassword container-toggle">
    <input type="password" class="input-field" placeholder="Пароль">
    </div>
    <div class="containerRepeatPassword container-toggle">
    <input type="password" class="input-field" placeholder="Повторите пароль">
    </div>
    <div class="containerNumberPhone container-toggle">
    <input type="text" class="input-field" placeholder="Код"></div>
    <a href="{% url 'autorization' %}" class="backText" ><</a>
    <div class="title">Восстановление</div>
    <div class="miniTitle">Введите код с номера телефона</div>
    <div class="miniTitle2">Введите новый пароль</div>
    <div class="miniTitle3">Повторите пароль</div>
    <div class="eror" style="display: none;">*ошибка</div>
    <div class="eror2" style="display: none;">*ошибка</div>
    <div class="eror3" style="display: none;">*ошибка</div>
    <div class="button"></div>
    <div class="buttonSmall"></div>
    <div class="buttonSmallText">код</div>
    <div class="buttonText">Восстановление</div>
    <div class="emailUse">использовать почту</div>

     <script>
         document.addEventListener('DOMContentLoaded', function() {
        const button = document.querySelector('.button');
        const phoneInput = document.querySelector('.containerNumberPhone input');
        const passwordInput = document.querySelector('.containerPassword input');
        const repeatPasswordInput = document.querySelector('.containerRepeatPassword input');
        const error1 = document.querySelector('.eror');
        const error2 = document.querySelector('.eror2');
        const error3 = document.querySelector('.eror3');
        const buttonSmall = document.querySelector('.buttonSmall');
        button.addEventListener('click', function() {
            if (!phoneInput.value.trim()) {
                error1.textContent = '*обязательно';
                error1.style.display = 'block';
                error1.style.opacity = '1';
            } else {
                error1.style.display = 'none';
                error1.style.opacity = '0';
            }
            if (!passwordInput.value.trim()) {
                error2.textContent = '*обязательно';
                error2.style.display = 'block';
                error2.style.opacity = '1';
            } else {
                error2.style.display = 'none';
                error2.style.opacity = '0';
            }
            if (!repeatPasswordInput.value.trim()) {
                error3.textContent = '*обязательно';
                error3.style.display = 'block';
                error3.style.opacity = '1';
            } else {
                error3.style.display = 'none';
                error3.style.opacity = '0';
            }
        });




        const email = document.querySelector('.emailUse');
        const miniTitle = document.querySelector('.miniTitle');
        email.addEventListener('click', function() {
            if (miniTitle.textContent === 'Введите код с номера телефона') {
                miniTitle.textContent = 'Введите код с почты';
                email.textContent = 'использовать номер телефона';
                phoneInput.placeholder = "Почта";

            } else {
                miniTitle.textContent = 'Введите код с номера телефона';
                email.textContent = 'использовать почту';
                phoneInput.placeholder = "Номер телефона";
            }
        });

        if (buttonSmall) {
            buttonSmall.addEventListener('click', function() {
                const randomNumber = Math.floor(Math.random() * (9999 - 1000 + 1)) + 1000;
                console.log('Сгенерированный код:', randomNumber);
            });
        }

    });
     </script>
</body>
</html>