<!DOCTYPE html>
<html>
<head>
    <title>Achievements</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'achievements_app/css/registration.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
</head>
<body>
<div class="background"></div>
    <div class="containerPassword container-toggle">
    <input type="password" class="input-field" placeholder="Пароль">
    </div>
    <div class="containerEmail container-toggle">
    <input type="email" class="input-field" placeholder="Почта">
    </div>
    <div class="containerNumberPhone container-toggle">
    <input type="text" class="input-field" placeholder="Номер телефона"></div>
    <div class="title">Регистрация</div>
    <div class="miniTitle">Введите номер телефона</div>
    <div class="miniTitle2">Введите почту</div>
    <div class="miniTitle3">Введите пароль</div>
    <div class="eror" style="display: none;">*ошибка</div>
    <div class="eror2" style="display: none;">*ошибка</div>
    <div class="eror3" style="display: none;">*ошибка</div>
    <div class="button"></div>
    <div class="buttonText">Далее</div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const button = document.querySelector('.button');
            const phoneInput = document.querySelector('.containerNumberPhone input');
            const passwordInput = document.querySelector('.containerPassword input');
            const emailInput = document.querySelector('.containerEmail input');
            const error1 = document.querySelector('.eror');
            const error2 = document.querySelector('.eror2');
            const error3 = document.querySelector('.eror3');
            function isValidEmail(email) {
                const re = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                return re.test(email);
            }
            button.addEventListener('click', function () {
                 let isValid = true;

                // Проверка телефона
                if (!phoneInput.value.trim()) {
                    error1.textContent = '*обязательно';
                    error1.style.display = 'block';
                    error1.style.opacity = '1';
                    isValid = false;
                } else {
                    error1.style.display = 'none';
                    error1.style.opacity = '0';
                }
                if (!passwordInput.value.trim()) {
                    error3.textContent = '*обязательно';
                    error3.style.display = 'block';
                    error3.style.opacity = '1';
                    isValid = false;
                } else {
                    error3.style.display = 'none';
                    error3.style.opacity = '0';
                }
                if (!emailInput.value.trim()) {
                    error2.textContent = '*обязательно';
                    error2.style.display = 'block';
                    error2.style.opacity = '1';
                    isValid = false;
                } else if (!isValidEmail(emailInput.value)) {
                    error2.textContent = '*неверный формат';
                    error2.style.display = 'block';
                    error2.style.opacity = '1';
                    isValid = false;
                } else {
                    error2.style.display = 'none';
                    error2.style.opacity = '0';
                }
                if (isValid) {window.location.href = "{% url 'additionalInformation' %}";}
                return isValid;
            });
           phoneInput.addEventListener('input', function(event) {
               let value = this.value.replace(/\D/g, '');
               if (value.length > 0 && (value[0] === '7' || value[0] === '8')) {
                   value = '7' + value.substring(1);
               }
               let formattedValue = '';
               if (value.length > 0) {
                   formattedValue = '+7';
                   if (value.length > 1) {formattedValue += ' (' + value.substring(1, 4);}
                   if (value.length > 4) {formattedValue += ') ' + value.substring(4, 7);}
                   if (value.length > 7) {formattedValue += '-' + value.substring(7, 9); }
                   if (value.length > 9) {formattedValue += '-' + value.substring(9, 11);}
               }
               this.value = formattedValue;
           });
            emailInput.addEventListener('blur', function() {
                if (emailInput.value.trim() && !isValidEmail(emailInput.value)) {
                    error2.textContent = '*неверный формат email';
                    error2.style.display = 'block';
                    error2.style.opacity = '1';
                }
            });

        });
    </script>
</body>
</html>