<!DOCTYPE html>
<html>
<head>
    <title>Achievements</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'achievements_app/css/userInformation.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
</head>
<body>
    {% include 'achievements_app/panel.html' %}
    <div class="backgroundLeft"></div>
    <div class="backgroundRight"></div>
    <div class="titleEditInformation">Информация</div>
    <div class="miniTitleLeftHigh">Логин</div>
    <div class="miniTitleRightHigh">Имя</div>
    <div class="miniTitleRightLow">Отчество</div>
    <div class="miniTitleLeftLow">Фамилия</div>
    <div class="eror1" style="display: none;">*ошибка</div>
    <div class="eror2" style="display: none;">*ошибка</div>
    <div class="eror3" style="display: none;">*ошибка</div>
    <div class="eror4" style="display: none;">*ошибка</div>
    <div class="eror5" style="display: none;">*ошибка</div>
    <div class="containerLogin container-toggle">
    <div id="containerLogin"></div>
        <input type="text" class="input-field" maxlength="30" placeholder="Логин">
    </div>
    <div class="containerName container-toggle">
        <input type="text" class="input-field" maxlength="30" placeholder="Имя">
    </div>
    <div class="containerLName container-toggle">
        <input type="text" class="input-field" maxlength="30" placeholder="Фамилия">
    </div>
    <div class="containerPatronymic container-toggle">
        <input type="text" class="input-field" maxlength="30" placeholder="Отчество">
    </div>
    <div class="containerURL container-toggle">
        <input type="text" class="input-field" maxlength="200" placeholder="URL">
    </div>
    <div class="button"></div>
    <div class="buttonText">Сохранить</div>
    <a href="{% url 'mainPage' %}" class="backText">отмена</a>

    <div class="photo-container">
        <img class="photo" id="photo" src="" alt="photo">
        <div class="login">username</div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const loginInput = document.querySelector('.containerLogin input');
            const nameInput = document.querySelector('.containerName input');
            const lNameInput = document.querySelector('.containerLName input');
            const patronymiсInput = document.querySelector('.containerPatronymic input');
            const button = document.querySelector('.button');
            const error1 = document.querySelector('.eror1');
            const error2 = document.querySelector('.eror2');
            const error3 = document.querySelector('.eror3');
            const error4 = document.querySelector('.eror4');
            const error5 = document.querySelector('.eror5');
            const link = document.querySelector('.containerURL input');
            const login = document.querySelector('.login');

            login.textContent = localStorage.getItem('login');
            let hasError = true;
            let loginStringEmpty = false;
            let phoneForEditInformation = localStorage.getItem('numberPhone');
            button.addEventListener('click', function ()
            {

                if (!link.value.trim() && !patronymiсInput.value.trim() && !lNameInput.value.trim()
                && !nameInput.value.trim() && !loginInput.value.trim())
                {
                    error1.textContent = '*обязательно одно поле';
                    error1.style.display = 'block';
                    error1.style.opacity = '1';
                    hasError = true;
                    loginStringEmpty = true;
                }

                else if (loginInput.value.trim() && loginInput.value.length < 5) {
                    error1.textContent = '*минимум 5 символов';
                    error1.style.display = 'block';
                    error1.style.opacity = '1';
                    hasError = true;

                }

                else if (nameInput.value.trim() && nameInput.value.length < 2) {
                    error2.textContent = '*минимум 2 символов';
                    error2.style.display = 'block';
                    error2.style.opacity = '1';
                    hasError = true;
                    loginStringEmpty = true;
                }

                 else if (lNameInput.value.trim() && lNameInput.value.length < 5) {
                    error3.textContent = '*минимум 5 символов';
                    error3.style.display = 'block';
                    error3.style.opacity = '1';
                    hasError = true;
                    loginStringEmpty = true;
                 }

                 else if (patronymiсInput.value.trim() && patronymiсInput.value.length < 5) {
                    error4.textContent = '*минимум 5 символов';
                    error4.style.display = 'block';
                    error4.style.opacity = '1';
                    hasError = true;
                    loginStringEmpty = true;
                 }
                 else
                {
                    error1.style.display = 'none';
                    error1.style.opacity = '0';
                    error2.style.display = 'none';
                    error3.style.display = 'none';
                    error3.style.opacity = '0';
                    error4.style.display = 'none';
                    error4.style.opacity = '0';
                    hasError = false;

                }

                 if (!loginStringEmpty) {
                    fetch('{% url "check_login" %}', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        body: JSON.stringify({
                            login: loginInput.value.trim(),
                        })
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.exists) {
                            error1.textContent = '*логин существует';
                            error1.style.display = 'block';
                            error1.style.opacity = '1';
                            hasError = true;
                        } else if (!data.exists) {
                            error1.style.display = 'none';
                            error1.style.opacity = '0';
                            hasError = false;
                        }
                        if (!hasError && phoneForEditInformation !== null && phoneForEditInformation.trim() !== '') {
                            const userData = {
                                login: loginInput.value.trim() || null,
                                firstName: nameInput.value.trim() || null,
                                lastName: lNameInput.value.trim() || null,
                                patronymic: patronymiсInput.value.trim() || null,
                                phone: phoneForEditInformation,
                                photo: link.value.trim() || null
                            };
                            fetch('{% url "editUserInformation" %}', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json',
                                    'X-CSRFToken': '{{ csrf_token }}'
                                },
                                body: JSON.stringify(userData)
                            })
                            .then(response => response.json())
                            .then(data => {
                                if (data.success) {
                                    localStorage.setItem('login', loginInput.value.trim());
                                    window.location.href = "{% url 'mainPage' %}";
                                } else {
                                    console.error('Error:');
                                }
                            })
                            .catch(error => {
                                console.error('Error:', error);
                            });
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
                }

                 console.log(hasError)
            });
            fetch('{% url "photoUser" %}', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({
                        phone: localStorage.getItem('numberPhone')
                    })
                })
                .then(response => response.json())
                    .then(data => {
                        if (data.photo) {
                            photo.src = data.photo;
                            photo.style.backgroundImage = `url(${data.photo})`;
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });



        });
    </script>
</body>
</html>