<!DOCTYPE html>
<html>
<head>
    <title>Achievements</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'achievements_app/css/userInformation.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
</head>
<body>
    {% include 'achievements_app/panel.html' %}
    <div class="backgroundLeft"></div>
    <div class="backgroundRight"></div>
    <div class="title">Информация</div>
    <div class="miniTitleLeftHigh">Логин</div>
    <div class="miniTitleRightHigh">Имя</div>
    <div class="miniTitleRightLow">Отчество</div>
    <div class="miniTitleLeftLow">Фамилия</div>
    <div class="eror1" style="display: none;">*ошибка</div>
    <div class="eror2" style="display: none;">*ошибка</div>
    <div class="eror3" style="display: none;">*ошибка</div>
    <div class="eror4" style="display: none;">*ошибка</div>
    <div class="containerLogin container-toggle">
<div id="containerLogin"></div>
        <input type="text" class="input-field" maxlength="30" placeholder="Логин">
    </div>
    <div class="containerName container-toggle">
        <input type="text" class="input-field" maxlength="30" placeholder="Имя">
    </div>
    <div class="containerLName container-toggle">
        <input type="text" class="input-field" maxlength="30" placeholder="Фамилия">
    </div>
    <div class="containerPatronymic container-toggle">
        <input type="text" class="input-field" maxlength="30" placeholder="Отчество">
    </div>
    <div class="containerURL container-toggle">
        <input type="text" class="input-field" maxlength="200" placeholder="URL">
    </div>
    <div class="button"></div>
    <div class="buttonText">Сохранить</div>
    <a href="{% url 'registration' %}" class="backText">отмена</a>
    <div class="login"></div>
    <div class="photo"></div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const loginInput = document.querySelector('.containerLogin input');
            const nameInput = document.querySelector('.containerName input');
            const lNameInput = document.querySelector('.containerLName input');
            const patronymiInput = document.querySelector('.containerPatronymic input');
            const button = document.querySelector('.button');
            const error1 = document.querySelector('.eror1');
            const error2 = document.querySelector('.eror2');
            const error3 = document.querySelector('.eror3');
            const error4 = document.querySelector('.eror4');
            let hasEror = true;
            let loginStringEmpty = false;
            button.addEventListener('click', function () {
                if (!loginInput.value.trim()) {
                    error1.textContent = '*обязательно';
                    error1.style.display = 'block';
                    error1.style.opacity = '1';
                    hasEror = true;
                    loginStringEmpty = true;
                }
                else {
                    error1.style.display = 'none';
                    error1.style.opacity = '0';
                    hasEror = false;
                    loginStringEmpty = false;
                }
                if (!nameInput.value.trim()) {
                    error2.textContent = '*обязательно';
                    error2.style.display = 'block';
                    error2.style.opacity = '1';
                    hasEror = true;
                }
                else {
                    error2.style.display = 'none';
                    error2.style.opacity = '0';
                    hasEror = false;
                }
                if (!lNameInput.value.trim()) {
                    error3.textContent = '*обязательно';
                    error3.style.display = 'block';
                    error3.style.opacity = '1';
                    hasEror = true;
                }
                else {
                    error3.style.display = 'none';
                    error3.style.opacity = '0';
                    hasEror = false;
                }
                if (!patronymiInput.value.trim()) {
                    error4.textContent = '*обязательно';
                    error4.style.display = 'block';
                    error4.style.opacity = '1';
                    hasEror = true;
                }
                else {
                    error4.style.display = 'none';
                    error4.style.opacity = '0';
                    hasEror = false;
                }
                if (!loginStringEmpty) {
                fetch('{% url "check_login" %}', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({
                        login: loginInput.value.trim(),
                    })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.exists) {

                        error1.textContent = '*логин существует';
                        error1.style.display = 'block';
                        error1.style.opacity = '1';
                    } else {
                        error1.style.display = 'none';
                        error1.style.opacity = '0';

                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });

                }
                  if (!hasEror) {
                    const userData = {
                        login: loginInput.value.trim(),
                        firstName: nameInput.value.trim(),
                        lastName: lNameInput.value.trim(),
                        patronymic: patronymiInput.value.trim(),
                        phone: localStorage.getItem('numberPhone')
                    };
                    fetch('{% url "editUserInformation" %}', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        body: JSON.stringify(userData)
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                window.location.href = "{% url 'recovery' %}";
                            } else {
                                showGlobalError(data.message || 'Ошибка регистрации');
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        })
                }
            });

        });
    </script>
</body>
</html>